@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

*{
    margin: 0;
    font-family: 'Roboto Serif', sans-serif;
}

body{
    background-color: rgb(0, 0, 0);
    padding: 20px;
    animation: fadeInAnimation ease 2s;
    margin-left: 15%;
    margin-right: 15%;
}

a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
}

a:hover{
    color: rgb(150, 121, 239) !important;
    transform: translateY(-1px);
}

/* marquee top bar animation */

.marquee{
    width: 98%;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.marquee #marqueeitem{
    display: inline-block;
    padding-left: 100%;
    animation: marquee 30s linear infinite;
}

@keyframes marquee{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

/* nav styling */

nav{
    display: flex;
    gap: 20px;
}

nav .logo{
    width: 64px;
    height: 64px;
    background-color: rgb(13, 13, 13);
    border: 1px solid rgb(53, 45, 73) ;
    border-radius: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#text-for-smaller{
    display: none;
}

#dice{
    color: white;
    font-size: 26px;
    transition: all 0.3s ease;
}

#dice:hover{
    color: rgb(150, 121, 239) !important;
}

nav .links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(13, 13, 13);
    border: 1px solid rgb(53, 45, 73) ;
    width: 100%;
    border-radius: 48px;
    padding: 0 30px;
}

#github{
    font-size: 30px;   
}

/* about styling */
.about-main{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.about{
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 60px;
    background-color: rgb(13, 13, 13);
    border: 1px solid rgb(53, 45, 73) ;
    border-radius: 15px;
}

#profission{
    color: #bdbdbd;
    font-size: 24px;
}
#typewriter{
    color: #bdbdbd;
    font-weight: 400;
    font-size: 50px;
}
.about .left .info{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about .left .info p{
    color: #bdbdbd;
}
.about .left .info .buttons button{
    font-size: 16px;
    padding: 6px 10px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.email{
    color: #bdbdbd;
    background-color: rgb(13, 13, 13);
    border: 1px solid rgb(53, 45, 73) ;
}
.email:hover{
    background-color:rgb(160, 152, 177);
    color: black;
}

.about .right img{
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius: 30px;
}

/* some links styling */

.about-links{
    padding: 30px 30px;
    background-color: rgb(13, 13, 13);
    border: 1px solid rgb(53, 45, 73) ;
    border-radius: 15px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-wrap: nowrap;
    gap: 15px;
}

#links-title{
    color: #bdbdbd;
    font-size: 20px;
    font-weight: 600;
}

.links-items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.links-items a:hover{
    text-decoration: underline;
}
/* projects styling */

.projects{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    gap: 40px;
    padding: 40px 60px;
    background-color: rgb(13, 13, 13);
    border: 1px solid rgb(53, 45, 73) ;
    border-radius: 15px;
}
.projects h2{
    color: #bdbdbd;
    font-size: 26px;
    font-weight: 400;
}
.projects .project-list{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.project-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.projects .project-list .item{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.projects .project-list .item p{
    color: #bdbdbd;
}

.project-name{
    font-size: 30px;
}

/* blog styling */
.blog{
    padding: 40px 60px;
    background-color: rgb(13, 13, 13);
    border: 1px solid rgb(53, 45, 73) ;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.blog h2{
    color: #bdbdbd;
    font-size: 26px;
    font-weight: 400;
}

.blog-content{
    display: flex;
    flex-direction: column;
    gap: 5px
}

.blog-content-formater{
    display: flex;
    gap: 6px;
    text-wrap: nowrap;
}

.blog-content-formater p{
    color: #bdbdbd;
}

.blog-topic{
    font-size: 18px;
}

.blog-topic:hover{
    text-decoration: underline;
}

/* footer styling */

footer{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #bdbdbd;
    gap: 10px;
}

/* body animation */

@keyframes fadeInAnimation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


/* making responsive */

@media (max-width: 1500px){
    body{
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width: 1229px){
    body{
        margin: 0;
    }
    .about{
        padding: 30px;
    }
    .projects{
        padding: 30px;
    }
    .blog{
        padding: 30px;
    }
    .about-links{
        padding: 20px;
    }
}

@media screen and (max-width: 900px) {
    a{
        font-size: 10px;
    }
    nav .logo{
        height: 35px;
        width: 40px;
        border-radius: 50%;
    }
    nav .links{
        padding: 0 15px;
    }
    #dice{
        font-size: 15px;
    }
    #github{
        font-size: 15px;
    }
    .about-main{
        margin-top: 25px;
    }
    #typewriter{
        font-size: 20px;
    }
    #profission{
        font-size: 14px;
    }
    #links-title{
        font-size: 12px;
    }
    .about .left .info .buttons button{
        font-size: 10px;
    }
    .about .right img{
        height: 100px;
        width: 100px;
        border-radius: 10px;
        margin: 10px;
    }
    .projects{
        gap: 20px;
    }
    .projects h2{
        font-size: 16px;
    }
    .project-name{
        font-size: 18px;
    }
    .projects .project-list .item p{
        font-size: 10px;
    }
    .blog h2{
        font-size: 16px;
    }
    .blog-content-formater p{
        display: none;
    }
    .blog-topic{
        font-size: 12px;
    }
}

@media screen and (max-width: 573px){
    .about{
        padding: 14px;
    }
    .projects{
        padding: 14px;
    }
    .blog{
        padding: 14px;
    }
    .about-links{
        padding: 10px;
    }
    a{
        font-size: 10px;
    }
    nav{
        gap: 10px;
    }
    nav .logo{
        height: 35px;
        width: 40px;
        border-radius: 50%;
    }
    nav .links{
        padding: 0 10px;
    }
    .marquee{
        display: none;
    }
    .marquee-smaller{
        width: 98%;
        white-space: nowrap;
        overflow: hidden;
        box-sizing: border-box;
    }
    .marquee-smaller #text-for-smaller{
        display: inline-block;
        padding-left: 100%;
        animation: marquee 10s linear infinite;
        text-wrap: nowrap;
    }
    #dice{
        font-size: 15px;
    }
    #github{
        font-size: 15px;
    }
    .about-main{
        margin-top: 25px;
    }
    #typewriter{
        font-size: 20px;
    }
    #profission{
        font-size: 10px;
    }
    #links-title{
        font-size: 12px;
    }
    .about .left .info{
        margin-top: 16px;
        gap: 16px;
    }
    .about .left .info .buttons button{
        font-size: 6px;
    }
    .about .right img{
        display: none;
    }
    .projects h2{
        font-size: 16px;
    }
    .project-name{
        font-size: 12px;
    }
    .projects .project-list .item p{
        font-size: 8px;
    }
    .blog{
        gap: 20px;
    }
    .blog h2{
        font-size: 14px;
    }
    .blog-content-formater p{
        display: none;
    }
    .blog-topic{
        font-size: 10px;
    }
    footer{
        font-size: 10px;
    }
}